.skype_user .skypesupport_add_user, .skype_user .skypesupport_userinfo_user, .skype_user .skypesupport_chat_user, .skype_user .skypesupport_call_user {
  display: block;
  float: left;
  width: 16px; height: 16px;
  padding: 2px;
  text-indent: -100000px;
}

a.skypesupport_add_user { background: url('images/add.gif') no-repeat; }
a.skypesupport_userinfo_user { background: url('images/info.gif') no-repeat; }
a.skypesupport_chat_user { background: url('images/message.gif') no-repeat; }
a.skypesupport_call_user { background: url('images/call.gif') no-repeat; }
